.board{
display: grid;
grid-auto-rows: 5rem;

grid-auto-columns: 5rem;
align-items: center;
justify-items: center;
}
.white
{
    background: white;
}
.black
{
    background: black;
}
.red
{
    background: red;
}
.grey
{
    background: grey;
}
.square
{
    height: 5rem;
    width: 5rem;
}
.piece
{
    height: 4rem;
    width: 4rem;
 
    border-radius: 50%;
    display: inline-block;
}