.board{
display: grid;
grid-auto-rows: 5rem;
grid-auto-columns: 5rem;

align-items: center;
justify-items: center;
}
.white
{
    background: white;
}
.black
{
    background: black;
}
.red
{
    background: red;
}
.gray
{
    background: gray;
}
.square
{
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.piece
{
    height: 4rem;
    width: 4rem;
 
    border-radius: 50%;
    display: inline-block;
    position: relative;
    
}
.startEnable
{
    border: .5rem solid blue;
}