.hader{
    width: 100%;
    background: #8fcb9b;
display: block;
margin: 0 0 0 0;
font-size: 7rem;
text-align: center;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;

}
body{
   margin: 0 0 0 0; 
   height: auto;
   background:  #92dce5;
}
.game_container
{
    
display: flex;
flex-wrap: wrap;
justify-content: center;
}

#instructions
{
    background: #ffcf99;
    margin: 2rem .2rem 0 .2rem;
    font-size: 2rem;
    border-radius: 2%;
    padding-bottom: 2rem;
}
.title{
    font-size: 6rem;
    font-style: italic;
    text-decoration: underline;
}
.sub_title
{
    font-size: 4rem;
}
li
{
    list-style:"\26C2" ;
}
.board{
display: grid;
grid-auto-rows: 5rem;
grid-auto-columns: 5rem;
align-items: center;
justify-items: center;
margin-top: 2rem;
border: 3.7rem solid #f09d51;
border-radius: 8%;
}
.white
{
    background: white;
}
.black
{
    background: black;
}
.red
{
    background: red;
}
.gray
{
    background: gray;
}
.square
{
    height: 5rem;
    width: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.piece
{
    height: 4rem;
    width: 4rem;
 
    border-radius: 50%;
    display: flex;
    align-content: center;    
    justify-content: center;
    opacity: 70%;
}
.endEnable:hover
{
    opacity: 40%;
    
}

.startEnable
{
    opacity:85%;
}
.startEnable:hover
{
    opacity:200%;
}
.startEnable.selected{
    opacity:100%;
}

img{
    background: transparent;
    height: 2rem;
    width: 2rem;
    align-self: center;
    pointer-events: none;
}
.popPrompt
{
background: #8c5e58;
height: 10rem;
width: 20rem;
grid-row: 4/6;
grid-column: 3/7;
display: flex;
flex-wrap: wrap;
justify-content: center;
border-radius: 3%;
z-index: 2;
}
.unVisibale
{
    display: none;
}
.restartbutton
{
background: #c17767;
border: 0;
height: 4.2rem;
width: 8rem;
border-radius: 7%;
font-size: 2rem;
}
.popPrompt>p{
    width: 100%;
    color: palegreen;
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

#signature{
    font-size: 2rem;
}
